<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Технач</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="container">
    <div class="logo">Технач</div>

    <div id="content">
        <p class="theme_list_header">Темы</p>
        <ul class="sidebar_list">
            <li>Gamedev</li>
            <li>Комп. железо</li>
            <li>Моб. устройства</li>
            <li>Программирование</li>
            <li>Радиотехника</li>
            <li>Программы</li>
            <li>Техника</li>
            <li>Video Games</li>
            <li>The Elder Scrolls</li>
            <li>Виз-ые новеллы</li>
            <li>Аниме</li>
            <li>Манга</li>
        </ul>
    </div>
    <div id="footer">&copy; Влад Мержевич</div>
</div>
</body>
</html>