* {
    box-sizing: border-box;
}
body {
    font-family: Anonimus Pro, sans-serif; /* Шрифт на веб-странице */
    font-size: 14pt;
    background: #292929; /* Цвет фона */
    color: #1eb400;
    margin: 0;
    padding: 0;
    height: 100vh;
}
h1 {
    font-size: 1.1em; /* Размер шрифта */
    color: #1eb400; /* Цвет текста */
    margin-top: 0; /* Отступ сверху */
}
.theme {
    text-align: center;
}
.nav_container {
    width: available; /* Ширина слоя */
    height: available;
    margin: 0 auto;
    /*margin: 0 auto;*/
    background: #292929; /* Цвет фона левой колонки */
    flex-direction: column;
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
}
.theme_list_header {
    display: flex;
    justify-content: center;
}
.container {
    width: available; /* Ширина слоя */
    height: available;
    margin: 0 auto;
    /*margin: 0 auto;*/
    background: #292929; /* Цвет фона левой колонки */
}
.header {
    text-align: left; /* Выравнивание по центру */
    /* Отступы вокруг текста */
}
a {
    text-decoration: none;
}

.sidebar {
    /*margin-top: 10px;*/
    width: max-content; /* Ширина слоя */
    padding: 0 10px; /* Отступы вокруг текста */
    float: left; /* Обтекание по правому краю */
    background: #494949;
    position: sticky;
    top: 0;
}
.form_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #373737;
    border: 2px solid #494949;
    border-radius: 10px;
}
.add_post {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}
.input {
    padding: 5px 0px 0px 0px;
}
.input [type="text"] {
    width: 400px;
    height: 30px;
    position:relative;
    border: 2px solid #000000;
    border-radius: 5px;
    background: #C7C7C7;
    outline: none;
}
textarea.text {
    width: 400px;
    height: 60px;
    position:relative;
    border: 2px solid #000000;
    border-radius: 5px;
    background: #C7C7C7;
    outline: none;
}
.input [type="textarea"] {
    width: 400px;
    height: 70px;
    position:relative;
    border: 2px solid #000000;
    border-radius: 5px;
    background: #C7C7C7;
    outline: none;
}
.inp_send {
    position: relative;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}
.theme_list_header {

}
.content {
    padding: 10px; /* Поля вокруг текста */
    background: #373737; /* Цвет фона правой колонки */
    overflow-y: auto;

}
.posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post {
    border: 2px solid #494949;
    border-radius: 10px;
    padding: 5px 10px 0px 5px;
}
/*.add_comment {
    display: none;
}*/
.add_comment {
    display: none;
}
.comment {
    border: 2px solid #494949;
    border-radius: 10px;
    padding: 5px 10px 0px 5px;
    background: #C7C7C7;
}
.reaction {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.show_more {
    cursor:pointer;
}
.post_hidden {
    border: 2px solid #494949;
    border-radius: 10px;
    padding: 5px 10px 0px 5px;
    display: none;
}
.show_more:focus + .post_hidden{
    display: block;
}
.show_more:hover {
    font-weight: bold;
}
.show_comments:hover {
    cursor: pointer;
    font-weight: bold;
}
.show_comments:focus {
    cursor: default;
    font-weight: bold;
}
.comment_form_show:focus + .add_comment{
    display: block;
}
.comment_form_show:hover {
    cursor: pointer;
    font-weight: bold;
}
.comment_form_show:focus {
    cursor: default;
    font-weight: bold;
}
.dislike_form input[type="submit"]{
    background: crimson;
}

.footer {
    bottom: 0;
    background: #494949; /* Цвет фона подвала */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    clear: left; /* Отменяем действие float */
    z-index: 10;
}

input[type="submit"] {
    width: 110px;
    height: 35px;
    background: #00c225;
    border-radius: 5px;
    color: whitesmoke;
    font: bolder 15pt Cambria;
    text-align: center;
}
input[type="text"]:hover {
    border: 2px solid #00c225;
}
input[type="text"]:focus {
    border: 2px solid #00c225;
}
textarea.text:hover {
    border: 2px solid #00c225;
}
textarea.text:focus {
    border: 2px solid #00c225;
}
input[type="submit"]:hover {
    background: #1de540;
    cursor: pointer;
}
input[type="submit"]:focus {
    background: #1de540;
    cursor: default;
}
.dislike_form input[type="submit"]:hover {
    background: #f52347;
    cursor: pointer;
}
.dislike_form input[type="submit"]:focus {
    background: #f52347;
    cursor: default;
}


